# Ignore everything
*

# Do not ignore directories
!*/

# Allow the .srcs folder and its contents in both Lab1 and Lab2
!Lab1/Lab1_ group17.srcs/**
!Lab2/Lab2_ group17.srcs/**

# Allow the .xpr file in both Lab1 and Lab2
!Lab1/Lab1_ group17.xpr
!Lab2/Lab2_ group17.xpr

# Allow the .lpr file in both Lab1 and Lab2
!Lab1/Lab1_ group17.hw/**
!Lab2/Lab2_ group17.hw/**

# Allow the .sim file in both Lab1 and Lab2
!Lab1/Lab1_ group17.sim/**
!Lab2/Lab2_ group17.sim/**

# Allow the .wcfg folder and its contents in both Lab1 and Lab2
!Lab1/circuito_tb_behav.wcfg
!Lab2/circuito_tb_behav.wcfg
